.container {
  background: var(--bg);
  position: relative;
  margin: 0;
  padding: 0;
  
}

.resetbackground {
  position: relative;
  height: 100vh; /*Full Viewport Height*/
  width: 100%; /*Full Viewport Width*/
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

