.container {
  height: 100vh; /* Allows content to expand the container */
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 6rem 0;
 
}

.supportbg {
  padding-top: 6rem;
  background-image: url("/Support Wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Allow bg to expand with content */
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.section {
  position: absolute;
  top: 8.8rem;
  left: 23rem;
  width: 30rem;
  margin: 0 auto;
  background: white;
  display: flex;
  padding: 2rem;
  margin-bottom: 8rem;
  border-radius: 15px;
  height: 26rem;
  overflow: hidden;
  flex-direction: column;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 12px;
}