.container{
    width: 100%;
}

.informationcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.maininfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
}

.detailTitle{
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.detailValuepassword{
   background-color: rgba(128, 128, 128, 0.2);
   width: 8rem;
   height: 1.5rem;
   border-radius: 10px;

}

.button {
  display: block;
  margin: 10px 0;
  width: 20%;
  padding: 6px;
  color: #fff;
  background: var(--bg);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 16px;
}

.buttoncontainer{
  display: flex;
  gap: 10px;
}

.button:hover {
  background-color: #13bb19;
}