.container{
    overflow-y: scroll;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.open{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    gap: 12px;

}

.desc{
    padding-left: 10px;
}