.container {
  padding-top: 80px;
  min-height: 100vh; /* Allows content to expand the container */
  display: flex;
  flex-direction: column;
  position: relative;
}

.cartbg {
  padding-top: 1rem;
  background-image: url("/Oicroft wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Allow bg to expand with content */
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.backdrop {
  background: white;
  width: 90%;
  margin-bottom: 10rem;
  border-radius: 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100px; /* Minimum height to show background */
  height: auto;
  overflow-x: hidden; /* Allows the section to grow based on content */
}
