@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #19831c;
  --bglight: #13bb19;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.load-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-btn-container {
  display: flex;
  gap: 10px; /* Adjust as needed for spacing */
  overflow: hidden;
}

.loading-button {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  animation: move 2s linear infinite;
  opacity: 1;
}

@keyframes move {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.loading-button:nth-child(1) {
  animation-delay: 0s;
}

.loading-button:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-button:nth-child(3) {
  animation-delay: 0.4s;
}

.loading-button:nth-child(4) {
  animation-delay: 0.6s;
}

.loading-button:nth-child(5) {
  animation-delay: 0.8s;
}
